*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: olivedrab;
}

.veli{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.add{
    padding: 10px;
    font-size: 20px;
    background-color: #00b800;
}
.add:hover{
    cursor: pointer;
}
button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
}
#input-box{
    color: black;
    font-size: 20px;
}

ul li{
    display: flex;
    gap: 20px;
}
ul li::before{
    content: '☑️ ';
    cursor: pointer;
}

ul li.checked span{
    text-decoration: line-through;
}

ul li.checked::before{
    content: '✅ ';
    cursor: pointer;
}

.delBtn{
    cursor: pointer;
}